<div class="board-container">
  <div class="board-title">Connect Four Game</div>
  <div class="moves-left">
    <span class="moves-left-label">Remaining Moves:</span>
    <span class="moves-left-content">{{moveLefts$ | async }}</span>
  </div>
  <div class="outcome-container" *ngIf="(outcome$ | async); let outcome">
    <p class="outcome" *ngIf="outcome && outcome === _Outcome.PLAYER1_WINS">{{ playerOneName }} wins!!!</p>
    <p class="outcome" *ngIf="outcome && outcome === _Outcome.PLAYER2_WINS">{{ playerTwoName }} wins!!!</p>
    <p class="outcome" *ngIf="outcome && outcome === _Outcome.COMPUTER_WINS">{{ playerTwoName }} wins!!!</p>
    <p class="outcome" *ngIf="outcome && outcome === _Outcome.DRAW">{{ outcome }}</p>
    <button class="btn-reset" *ngIf="(resetGame$ | async)" (click)="clearState()">New Game</button>
    <button class="btn-choose-mode" *ngIf="(resetGame$ | async)" (click)="backToMode()">Back to start</button>
  </div>
  <div class="select-column-container" *ngIf="!(resetGame$ | async)">
    <div class="select-column" *ngFor="let col of columnsAvailable; let i = index;"
      [ngClass]="{ show: col === true, hide: col === false }" (click)="select(i)">
      <fa-icon [icon]="['fas', 'arrow-down']" size="3x" class="arrow-down"></fa-icon>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-row" *ngFor="let i of rowRange">
      <ng-container *ngFor="let j of columnRange">
        <div class="grid-cell">
          <div class="grid-circle free-cell" #circles>
            <ng-container *ngIf="(winningSequence$ | async); let ws">
              <div *ngIf="ws.winner && isSamePlayer(i, j, ws.winner) && strikeThrough(ws, i, j, 1)"
                class="line"
                [ngClass]="{ player1: isSamePlayer(i, j, _Player.PLAYER1),
                  player2: isSamePlayer(i, j, _Player.PLAYER2),
                  computer: isSamePlayer(i, j, _Player.COMPUTER) }">
              </div>
              <div *ngIf="ws.winner && isSamePlayer(i, j, ws.winner) && strikeThrough(ws, i, j, 7)"
                class="vertical-line"
                [ngClass]="{ player1: isSamePlayer(i, j, _Player.PLAYER1),
                  player2: isSamePlayer(i, j, _Player.PLAYER2),
                  computer: isSamePlayer(i, j, _Player.COMPUTER) }">
              </div>
              <div *ngIf="ws.winner && isSamePlayer(i, j, ws.winner) && strikeThrough(ws, i, j, 6)"
                class="left-diagonal-line"
                [ngClass]="{ player1: isSamePlayer(i, j, _Player.PLAYER1),
                  player2: isSamePlayer(i, j, _Player.PLAYER2),
                  computer: isSamePlayer(i, j, _Player.COMPUTER) }">
              </div>
              <div *ngIf="ws.winner && isSamePlayer(i, j, ws.winner) && strikeThrough(ws, i, j, 8)"
                class="right-diagonal-line"
                [ngClass]="{ player1: isSamePlayer(i, j, _Player.PLAYER1),
                  player2: isSamePlayer(i, j, _Player.PLAYER2),
                  computer: isSamePlayer(i, j, _Player.COMPUTER) }"
              ></div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
