<div class="shell-container" [class.unknown]="isUnknown">
  <div class="shell-selection" *ngIf="mode === _Mode.UNKNOWN">
    <p class="shell-title">Enter game of Connect Four</p>
    <div class="btn-group">
      <button class="btn-human" (click)="choose(_Mode.HUMAN_VS_HUMAN)">Human vs Human</button>
      <button class="btn-computer" (click)="choose(_Mode.HUMAN_VS_COMPUTER)">Human vs Computer</button>
    </div>
  </div>
  <ng-container *ngIf="mode !== _Mode.UNKNOWN">
    <ng-container *ngIf="mode === _Mode.HUMAN_VS_HUMAN then twoPlayers else onePlayer"></ng-container>
  </ng-container>
  <div class="spacer-1"></div>
  <footer *ngIf="mode === _Mode.UNKNOWN">
    Version: 1.0.1
  </footer>
</div>

<ng-template #twoPlayers>
  <connect-player [name]="strPlayerOneName" [piece]="_Player.PLAYER1" [color]="_PieceColor.RED"></connect-player>
  <connect-board [mode]="_Mode.HUMAN_VS_HUMAN" [playerOneName]="strPlayerOneName" [playerTwoName]="strPlayerTwoName"></connect-board>
  <connect-player [name]="strPlayerTwoName" [piece]="_Player.PLAYER2" [color]="_PieceColor.YELLOW"></connect-player>
</ng-template>

<ng-template #onePlayer>
  <connect-player [name]="'Player 1'" [piece]="_Player.PLAYER1" [color]="_PieceColor.RED"></connect-player>
  <connect-board [mode]="_Mode.HUMAN_VS_COMPUTER" [playerOneName]="strPlayerOneName"></connect-board>
  <connect-player [name]="'Computer'" [piece]="_Player.COMPUTER" [color]="_PieceColor.MAGENTA"></connect-player>
</ng-template>

<connect-modal id="two-player-mode-dialog">
  <form [formGroup]="form" novalidate (ngSubmit)="storePlayerNames(form, 'two-player-mode-dialog')">
    <p>Choose your names</p>
    <div style="padding: 0.75rem;">
      <label>
        Player 1 name:
      </label>
      <input formControlName="playerOneName" required />
      <p class="connect-error" *ngIf="playerOneName && playerOneName.errors && playerOneName.errors['required']">
        Player 1 is required
      </p>
    </div>

    <div style="padding: 0.75rem;">
      <label>
        Player 2 name:
      </label>
      <input formControlName="playerTwoName" required />
      <p class="connect-error" *ngIf="playerTwoName && playerTwoName.errors && playerTwoName.errors['required']">
        Player 2 is required
      </p>
    </div>

    <div>
      <button type="submit" [disabled]="form.invalid">Confirm</button>
    </div>
  </form>
</connect-modal>

<connect-modal id="one-player-mode-dialog">
  <div>
    Hello world 2
  </div>
</connect-modal>
